.dealsNav  {
  margin-right: 2em;
}

.activeDeals__title {
  text-align: center;
  padding-top: 1em;
  margin-bottom: 1em;
}

.closedDeals__title {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.lostDeals__title {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.activeDeals__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.closedDeals__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.lostDeals__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.navbar-custom2 {
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.deals__container {
  background-color: #F4F7F7;
}