.dealCard {
  width: 300px;
  margin: 2em;
}

.dealCard__title {
  font-weight: bold;
  text-align: center;
}

.dealCard__links {
  display: flex;
  justify-content: space-around;
}

.dealCard__bold {
  font-weight: bold;
}