.home__image {
  width: 100%;
  opacity: 0.8;
  min-height: 100%;
}

.home__top {
  position: relative;
  height: 85vh;
  overflow: hidden;
  min-height: 87vh;
}

.home__imageText {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: rgba(43, 53, 61, 0.8);
  color: white;
  padding: 2em;
  border: 5px solid white;
  word-wrap: normal;
  width: 500px;
  text-align: center;
}

.main__footer {
  text-align: center;
  color: white;
  background-color: #2B353D;
  position: relative;
  padding: 0.8em;
}

.home__container {
  display: flex;
  flex-direction: column;
}